.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content:end;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-footer {
  min-height: 15vh;
  background-color: #282c34;
  color: white;
}
.App-body {
  min-height: 63vh;
  background-color: #d1d6e0;
  color: white;
  display: flex;
  background-image: url(./Assets/Vue.avif);
  
  padding: 1vh;
  justify-content: center;
  align-items: center;
}
.App-link {
  color: #61dafb;
  vertical-align: bottom;
}
.menu{
  
  min-height: 5vh;
  min-width:100%;
  background-color: #fb61ee;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn_navbar_sel{
  flex: 1;
  border-color: white;
  background-color: #ffb6f9;
}
.btn_List{
  flex: 1;
  border-color: #ffb6f9;
  background-color: white;
  border-radius: 5px;
  margin:2vh
}
.btn_navbar{
  flex: 1;
  border-color: white;
  background-color: #ff7be2;
}
.img_bg{
flex:1;
}
.fg_acc{
  background-color: #282c34;
  padding: 3vh;
  border-color: #ffb6f9;

  border-radius: 5px;
}
.fg_Adm{
  background-color: #282c34;
  padding: 3vh;
  display: flex;
  border-color: #ffb6f9;

  border-radius: 5px;
}
.fg_Ges{
  background-color: #282c34;
  padding: 3vh;
  text-align: start;
  display: flex;
  border-color: #ffb6f9;

  border-radius: 5px;
}
.fg_Res{
  background-color: #282c34;
  padding: 3vh;
}
.fg_LCh{
  background-color: #282c34;
  padding: 3vh;
  width:190vh;
  min-height: 50vh;
  border-color: #ffb6f9;

  border-radius: 5px;
}
.fg_det{
  background-color: #282c34;
  padding: 3vh;
  width:190vh;
  min-height: 50vh;
  text-align: start;
  display: flex;
  border-color: #ffb6f9;

  border-radius: 5px;
}
.fg_Res{
  background-color: #282c34;
  padding: 3vh;
  width:190vh;
  min-height: 50vh;
  text-align: start;
  display: flex;
  flex-direction: column;
  border-color: #ffb6f9;

  border-radius: 5px;
}
.imgdet{
  flex:1;
  max-width:33vh;
}
.restedet{
  flex:5;
  padding:5vh;
}
.titre{
  text-align:left;
  justify-self: left;
  padding-left: 2vh;
}
.miniature{
  max-height: 70px;
  vertical-align: middle;
  
}
.Chambreinlist{
  background-color: #d1d6e0;
  padding: 10px;
  color: black;
  display: flex;
  border-color: #ffb6f9;
  border-width: 5px;
  border-radius: 5px;
}
.Chambreinlist:hover{
  background-color: #a1a5ac;
}
.inputRes{
  max-width: 20vh;
}
.dernRes{
  background-color: white;
  margin: 1vh;
  padding: 1vh;
  color: #282c34;
  border: 5px;
  border-radius: 5px;
}